*, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: yellow;
    width: 100%;
    padding: 20px;
    display: flex;
}

h1 {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

h3 {
    margin: 0px;
    padding: 10px;
}

main {
  background-color: #A0522D;
  padding: 15px;
}

img {
  width: 100px;
  height: 100px;
}

.candidates {
    list-style-type: none;
}

li {
    margin-bottom: 15px;
    border: 5px, solid, black;
}